<!-- CHANGE PASSWORD -->

<div id="change-pw-container" class="form-card card">
  <div>
    <h4 class="blue darken-2 form-title">Change Password
        <i id="close-form" style="float:right; cursor: pointer;" class="material-icons">close</i>
      </h4>
  </div>
  <form id="change-pw">
    <fieldset style="display:flex;">
      <div class="input-field">
        <input type="password" class="validate" name="passwords[old]" id="change-pw-password">
        <label for="change-pw-old-password">Old Password</label>
      </div>
      <div class="input-field">
        <input type="password" class="validate" name="passwords[new]" id="change-pw-password-confirmation">
        <label for="change-pw-new-password">New Password</label>
      </div>
      <div class="alert-anchor"></div>

      <button type="submit" name="submit" class="blue darken-3 btn form-button">          Change Password
        </button>
      <!-- CHANGE PASSWORD LOADER-->
      <div id="sign-up-loader" style="margin: 0 auto; display:none;" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </fieldset>
  </form>
</div>
<!-- CHANGE PASSWORD ALERTS -->
<!-- <div style="display: none;" id="sign-up-empty-alert" class="auth-form-alert alert alert-danger" role="alert">Please fill in all the fields</div>
        <div style="display: none;" id="sign-up-failure-alert" class="auth-form-alert alert alert-danger" role="alert">Sorry, there was an issue creating your account. Please try again later.</div> -->
