<div class="input-field edit-container">
  <textarea class="materialize-textarea" rows="1" id="line-textarea-edit"></textarea>
<div class="edit-button-container">

  <button class="btn blue darken-3" id="line-edit-cancel" type="button" name="button">Cancel</button>
  <button class="btn blue darken-3" data-id="{{id}}" id="line-edit-save" type="button">Save</button>
  </div>
</div>
