<div class="line-edit-container">
  <textarea class="materialize-textarea" rows="1" id="line-textarea-edit"></textarea>
  <button id="line-edit-cancel" type="button" name="button">Cancel</button>
  <button data-id="{{id}}"" id="line-edit-save" type="button">Save</button>
</div>
