<div class="loader" style="
    height: 100%;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 100;
">
    <div class="preloader-wrapper big active" style="/* height: 50%; */ /* Set your own height: percents, ems, whatever! *//* width: 50%; */ /* Set your own width: percents, ems, whatever! */overflow: auto; /* Recommended in case content is larger than the container */margin: auto; /* Center the item vertically &amp; horizontally */position: absolute; /* Break it out of the regular flow */top: 0;left: 0;bottom: 0;right: 0;/* background-color: white; */">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div></div>
  </div>
