a:hover {
  text-decoration: none;
}

.auth-form-alert {
  margin: 3% auto;
  max-width: 330px;

}

a:focus,
header a:hover {
  background-color: darken($primary-color, 10%);
}

.form-subtext {
  text-align: center;
  padding:10px;
  font-size:1.1em;
}

.form-options-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  button {
    width: 80%;
  }
}

.form-card {
  margin: 3% auto 0;
  max-width: 500px;

  p {
    font-size: 1em;
    margin: 0 auto;
  }

  @media only screen and (max-width: 330px) {
    width: 100%;
  }
  fieldset {
    border: 0;
    padding: 0;
  }

}

.form-link {
  color: $link-color;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $link-hover-color;
  }
}

.form-title {
  background-color: $primary-color;
  color: $primary-font-color;
  text-align: center;
  padding: 0.5em;
}

.form-link {
  margin-left: 5px;
}

main form {
  min-height: 200px;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

button.form-button {
margin: 0 auto;
max-width: 300px;
min-width: 50%;
}

h1 {
  display: inline-block;
  margin-left: 10%;
  margin-right: auto;
}
.input-field input:focus:not([readonly]){
  border-bottom: 1px solid #1976D2;
    box-shadow: 0 1px 0 0 #1976D2;

}
.input-field input:focus:not([readonly]) + label{
    color: #1976D2;
}
.input-field textarea:focus:not([readonly]){
  border-bottom: 1px solid #1976D2;
    box-shadow: 0 1px 0 0 #1976D2;

}
.input-field textarea:focus:not([readonly]) + label{
    color: #1976D2;
}


@media (max-width: 1200px) {
  header form {
    clear: both;
  }
}
