.edit-link-container {
  align-self: center;
  margin: 1.2em;

  i{
    padding: 5px;
  &:hover {
    cursor: pointer;
    color: tint($black, 50%);
  }
  }
}
.create-line-button-container {
  float: right;

  button {
    margin: 10px;
  }
}

.line-text-container {
  font-size:1.2em;
  display: flex;
}

.line-text {
  flex-grow: 1;
  padding: 1.2em;
}
.input-field {
  textarea {
      font-size:1.2em;
  }
}
.edit-dropdown-content {
  background-color: $primary-background-color;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 2;


  li {
    padding: 10px 25px;

    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }
    &:nth-child(1){
      border-bottom: 1px solid $border-color;
    }
  }
}

.edit-container {

  display:flex;
  flex-direction: column;
  padding:1em;

  textarea {
      font-size:1.2em;
  }
}

.edit-button-container {
  padding: 10px;
  align-self: flex-end;

}

.voting-container {
  display: flex;
  border-top: 1px solid gray;
  // align-items: center;


}

.vote-container {
  align-items: center;
  display: flex;
  padding: 10px;

  i, span {
    padding: 5px;
  }
}
