@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html {
  font-size: 14px;
}

main {
  padding: 10px;
}

body {
  background-color: $secondary-background-color;
  font-family: Roboto;
}

.main-header {
  margin-left: 0;
}

input[type="text"], input[type="number"], textarea {
  font-size: 16px !important;
}
