@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 14px;
}

main {
  padding: 10px;
}

body {
  background-color: $secondary-background-color;
  font-family: Roboto;
}

.main-header {
  margin-left: 0;
}
